[submodule "pnx_modules"]
	path = pnx_modules
	url = https://github.com/HKUSTGZ-ROBOMASTER-PNX/pnx_modules.git
	branch = fix/f407-ps2-stack
[submodule "pnx_bsp"]
	path = pnx_bsp
	url = https://github.com/HKUSTGZ-ROBOMASTER-PNX/pnx_bsp.git
	branch = F4_version_bsp
[submodule "pnx_devices"]
	path = pnx_devices
	url = https://github.com/HKUSTGZ-ROBOMASTER-PNX/pnx_devices.git
[submodule "pnx_libs"]
	path = pnx_libs
	url = https://github.com/HKUSTGZ-ROBOMASTER-PNX/pnx_libs.git
